<app-navigation></app-navigation>

<div  class="container">
    <div class="row">
        <div class="col-md-4">
            <!-- card 1 -->
            <mat-card class="example-card">
                <img mat-card-image src="https://www.nid.edu/Userfiles/program/large/textile_2%20amritpalsingh.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p style="color:green" >Fabric Design</p>
                  <p style="font-weight: bold" >Rs. 2000</p>
                </mat-card-content>
                <mat-card-actions>
                  <button style="margin-right: 50px;" (click)="change()"  mat-raised-button>See Details</button>
                  <button (click)="change()"  mat-raised-button>Add to Cart</button>
                </mat-card-actions>
              </mat-card>
        </div>
        <div class="col-md-4">
                 <!-- card 2 -->
                 <mat-card class="example-card">
                  <img mat-card-image src="https://lp-cms-production.imgix.net/2020-11/shutterstock_551163163%20A%20rural%20craftswoman%20paints%20on%20colorful%20handicraft%20items.jpg" alt="Photo of a Shiba Inu">
                  <mat-card-content>
                    <p style="color:green" >Earthen Pots</p>
                    <p style="font-weight: bold" >Rs. 250</p>
                  </mat-card-content>
                  <mat-card-actions>
                    <button style="margin-right: 50px;" (click)="change()"  mat-raised-button>See Details</button>
                    <button (click)="change()"  mat-raised-button>Add to Cart</button>
                  </mat-card-actions>
                </mat-card>
        </div>
        <div class="col-md-4">
    <!-- card 3 -->
    <mat-card class="example-card">
      <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQv7LGG9jl6sbdHquTzNYW_K1Ii3nul5jNOKNBBN-882ZexmVZjJ6OSkTNb9AuSaWki6SU&usqp=CAU" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p style="color:green" >Woolen Design</p>
        <p style="font-weight: bold" >Rs. 1200</p>
      </mat-card-content>
      <mat-card-actions>
        <button style="margin-right: 50px;" (click)="change()"  mat-raised-button>See Details</button>
        <button (click)="change()"  mat-raised-button>Add to Cart</button>
      </mat-card-actions>
    </mat-card>
        </div>
    </div>
</div>